@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 5rem;
}
.navbar {
    background-color: #f9fafa;
}
.carousel-item-img {
  width: 100vw;
  height: 40vh;
}
.title {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  color: #67d0e6;
}
.title p {
  text-align: center;
  color: #888;
  font-weight: 400;
}

/* INICIO=================Login====================== */


.form-register {
  width: 350px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: left;
  margin-left: 20px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* FIN==================Login===================== */

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.card_link {
  display: flex;
  flex-direction: column;
}

.card_link_img {
  width: 280px;
  height: 300px;
  border-radius: 5px;
  transition: 1s;
  object-fit: cover;
}

.card_link_img:hover {
  transform: scale(0.95)
}

.links a {
  color: #2c2c3f;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.footer {
    background-color: #2c2c3f;
    color: white;
    height: auto;
    font-size: 0.9rem;
    padding-top: 1.5rem;
  }
  
  .footer li {
    list-style: none;
  }
  
  .footer a {
    text-decoration: none;
    color: #67d0e6;
  }
  
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 1.3rem;
  }
  
  .contac_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .contac_container img {
    margin-bottom: 1rem;
  }
  
  .items {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .footer_links {
    display: flex;
    gap: 1rem;
  }







@media (min-width:768px) {
  .carousel-item-img {
    height: 63vh;
  }

  .card_link_img {
    width: 280px;
    height: 320px;
  }

  .title h1 {
    font-size:3rem ;
  }

  .logo {
    width: 6rem;
  }
}

@media (min-width:1024px) {

  .title {
    margin: 3rem 0;
  }

    .card_link_img {
      width: 250px;
      height: 350px;
    }

  
}

