@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 5rem;
}

.carousel-caption h5 {
  text-align: right;
  font-size: 3.5rem;
  text-shadow: 2px 2px black;
}

.title {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: #1d86d1;
}

.title p {
  margin: 1rem;
  text-align: center;
  color: #888;
  font-weight: 400;
}

/* =============================================== */

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.card_link {
  display: flex;
  flex-direction: column;
}

.card_link_img {
  width: 300px;
  height: 320px;
  border-radius: 5px;
  transition: 1s;
  object-fit: cover;
}

.card_link_img:hover {
  transform: scale(0.95)
}

.links a {
  color: #2c2c3f;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

@media (min-width:768px) {
  .carousel-item-img {
    height: 63vh;
  }

  .title h1 {
    font-size: 3.5rem;
  }

  .title p {
    font-size: 1.3rem;
  }

  .logo {
    width: 6rem;
  }
}

@media (min-width:1300px) {

  .title {
    margin: 3rem 0;
  }

  .card_link_img {
    width: 200px;
    height: 300px;
  }
}

/* ================================================= */

#modal .btn_team {
  border: none;
  background-color: transparent;
  color: #67d0e6;
}

#modal .btn_team:focus {
  outline: none;
}

#modal {
  border: none;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #2c2c3f;
  color: white;
}

#modal[open] {
  animation: show 2s ease;
}

@keyframes show {
  from {
    transform: translateX(-110%);
  }

  to {
    transform: translateX(0%);
  }
}

#modal h1 {
  text-align: center;
  color: #67d0e6;
  margin: 1.3rem 1rem;
}

.btn_closeTeam {
  border: none;
  background-color: #2c2c3f;
  color: #67d0e6;
  font-size: 1.5rem;
  font-weight: 200;
  float: right;
  margin: 1rem;
}

.team_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: first baseline;
}

.team_card {
  width: 300px;
  height: fit-content;
}

.team_card img {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px black;
  margin-bottom: 0.75rem;
}

.team_card h5 {
  text-align: center;
}

.team_card p {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.9rem;
}

/* =============team=================== */
.aboutUs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.aboutUs_container h1 {
  text-align: center;
  color: #1d86d1;
  margin-top: -1rem;
}

.aboutUs_text {
  width: 85%;
}

.btn_team {
  background-color: #2c2c3f;
  color: white;
  font-size: 1.1rem;
  padding: 0.25rem 3rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  float: right;
}

.btn_team:hover {
  background-color: rgb(231, 234, 238);
  color: #2c2c3f;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  box-shadow: 2px 2px 4px #888;
}

@media (min-width:576px) {
  .team_card {
    width: 300px;
  }

  .team_card img {
    height: 360px;
  }
}

@media (min-width:992px) {
  .team_card {
    width: 330px;
  }

  .team_card img {
    height: 360px;
  }

  .team_container {
    padding: 2rem;

  }
}